.about__section {}

.about__bg {
    width: 100%;
    height: 540px;
}

.about__bg img {
    object-fit: cover;
    /* filter: brightness(85%); */
    z-index: -1;
}

.about__container {}

.about__content {}