.book__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    --input__color: #f4f1f1;
    color: var(--main__dark);
    text-transform: capitalize;
}



.book__form_title {
    text-align: center;
    font-size: 30px;
    font-family: var(--font__title);
    margin: 0 0 50px 0;
}

.book__form label {
    width: 100%;
    text-align: start;
    margin: 0 0 5px 10px;
    font-weight: 500;
    font-size: 20px;


}

.book__form input {
    padding: 15px 12px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--input__color);
    width: 100%;
    margin: 0 0 25px 0;
    cursor: pointer;

}

.book__form input[type='number'] {
    max-width: 80px;
    margin: 0 auto 25px 0;

}

.book__form select {
    padding: 15px 12px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--input__color);
    width: 100%;
    margin: 0 0 25px 0;
    cursor: pointer;

}

.checkbox__container {
    display: flex;
    width: 100%;
    /* align-items: center; */
    gap: 5px;
    z-index: 1;

}

.checkbox__container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: fit-content;
}

.checkbox__container label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
    width: fit-content;
}

.checkbox__container .checkbox__custom {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--input__color);
    border: 2px solid var(--main__dark);
    position: relative;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.checkbox__container .checkbox__custom::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: var(--input__color);
    border-radius: 2px;
    transition: all 0.3s ease;
    opacity: 0;
}


.checkbox__container input:checked+.checkbox__custom {
    background-color: var(--main__light);
    border: 2px solid var(--main__light);
}

.checkbox__container input:checked+.checkbox__custom::before {
    opacity: 1;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1);
    content: "\2713";
    /* Unicode character for checkmark */
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--main__light);
}