.book__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 15px;
    --input__color: #f4f1f1;
    color: var(--main__dark);
    text-transform: capitalize;
}



.book__form_title {
    text-align: center;
    font-size: 30px;
    font-family: var(--font__title);
    margin: 0 0 50px 0;
}

.book__form_buttons {
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 50px;
}

.book__form_preview--btn {
    flex: 1 1 auto;
}

.book__form_preview--btn:hover {
    text-decoration: underline;
}