.slider__dots {
    padding: 5px;
    background-color: transparent;
    opacity: 0.8;
    display: flex;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #585656;
    cursor: pointer;
}

.slider__dot.active {
    background-color: var(--white);
}