.testimonials__slide_wrapper {
    position: relative;
    width: 1000px;
    height: 300px;
    color: var(--main__dark);
    overflow-x: hidden;

}

.testimonials__slide {
    position: absolute;
    display: flex;
    gap: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;

}

.testimonials__slide_img {
    flex: 1 1 30%;

}

.testimonials__slide_img img {
    /* object-fit: ; */
}


.testimonials__slide_content {
    flex: 1 1 70%;
    background-color: rgba(250, 250, 250, 0.8);
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.testimonials__slide_title {
    font-weight: 700;
    font-size: 34px;
    font-family: var(--font__title);
    margin: 0 0 30px 0;
}

.testimonials__slide_text {
    line-height: 1.4;
    flex: 1 1 auto;
}

.testimonials__slide_stars {
    padding: 10px 15px;
    background-color: var(--main__light);
    width: fit-content;
    border-radius: 20px;

}