.booknow__preview_content {
    color: var(--main__dark);
    line-height: 1.3;
    font-size: 20px;
    min-width: 300px;
}

.booknow__preview_list {}

.booknow__preview_item {}

.booknow__preview_item span {
    font-weight: 700;
    font-style: italic;

}