.testimonials__section {}

.testimonials__bg {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__bg img {
    object-fit: cover;
    z-index: -1;
}

.testimonials__container {}